.usersContainer {
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 332px);
    grid-template-rows: repeat(auto-fit, 196px);
    gap: 10px 10px;
    max-width: 1028px;
    height: calc(100vh - 110px);
    overflow-y: scroll;
    width: 100%;
    scrollbar-color: rgba(122, 122, 122, 1) rgba(232, 232, 232, 0.1);
    scrollbar-width: thin;
}


.shadowTop {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 360px);
    height: 32px;
    background: linear-gradient(0deg, rgba(18, 20, 27, 0) 0%, #12141B 100%);
    z-index: 10;
}

.shadowBottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - 360px);
    height: 32px;
    background: linear-gradient(180deg, rgba(18, 20, 27, 0) 0%, #12141B 100%);
    z-index: 10;
}




@media screen and (min-width: 2100px) {
    .usersContainer {
        width: 1725px;
        max-width: 1725px;
    }
}