@use '../../variables';

.userCard {
    color: #fff;
    height: 196px;
    width: 332px;
    border-radius: 16px;
    background: variables.$mainLighter;
    position: relative;
    white-space: nowrap
}
.userCardInner {
    padding: variables.$defaultPadding;
}
.cardTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: variables.$mainTextColor;
    height: 56px;
    width: 255px;
    gap: 16px;
    position: relative;
}
.userImage {
    border-radius: variables.$defaultRadius;
    width: 56px;
    height: 56px;
}

.userName {
    font-weight: variables.$mainWeight;
    font-size: variables.$largeText;
    line-height: 24px;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
}

.userEmail {
    font-weight: variables.$mediumWeight;
    font-size: variables.$mediumText;
    line-height: 20px;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
}

.cardBottom {
    width: 292px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 57px 219px;
    gap: 16px;
    margin-top: 16px;
}

.userAdditionalInfoTitle {
    font-weight: variables.$mediumWeight;
    font-size: variables.$smallText;
    line-height: 20px;
    color: variables.$darkTextColor;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.userAdditionalInfo {
    font-weight: variables.$mediumWeight;
    font-size: variables.$mediumText;
    line-height: 20px;
    color: variables.$mainTextColor;
    display: flex;
    flex-direction: column;
    gap: 12px;

    p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; 
    }
}

.trashBin {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;

    display: block;
    cursor: pointer;
    svg {
        padding: 10px;
        border-width: 0px 0px 1px 1px;
        border-style: solid;
        border-color: rgba(255, 44, 71, 0.2);
        border-bottom-left-radius: 10px;
    }
}