@use '../../../variables';
.refreshUsers {
    p {
        font-weight: variables.$mainWeight;
        font-size: variables.$mediumText;
        line-height: 20px;
        color: variables.$accentColor;
        cursor: pointer;
    }
}