// main colors
$mainBackground: #12141B;
$accentColor: #CF7B5A;
$main: #1A1C23;
$mainLighter: #1E2027;

// Text colors
$mainTextColor: #DCD8D3;
$darkTextColor: #8C8988;
$additionalDarkTextColor: #8E8E8E;

// Text size
$smallText: 12;
$mediumText: 14;
$largeText: 20;

// Font Weight
$mainWeight: 600;
$mediumWeight: 500;